div.my-block {
  background-color: blue;
  color: white;
  width: 80%;
  float: left;
  margin: 15px;
  padding: 10px;
}
@media screen and (min-width: 320px) {
  div.my-block {
    width: 40%;
  }
}
@media screen and (min-width: 720px) {
  div.my-block {
    width: 20%;
  }
}
